<li>
  <div class="news-image">
    <%= link_to news.address_url do %>
      <div class="imgbox">
        <%= image_tag news.image, alt: news.image_alt %>
      </div>
    <% end %>
  </div>
  <div class="news-content">
    <%= link_to news.address_url do %>
      <p class="title"><%= news.title %></p>
    <% end %>
    <p class="short">
      <%= link_to news.source_name, news.address_url, class: "news-source" %> 
      <%= link_to news.excerpt, news.address_url %>

    </p>
    <div class="news-actions">
      <ul class="list-unstyled list-share">
        <li>
          <%= link_to "https://twitter.com/home?status=#{news.address_url}", role: 'popup' do %>
            <i class="icon-twitter"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{news.address_url}", role: 'popup' do %>
            <i class="icon-facebook"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "https://slackbutton.herokuapp.com/post/new/?url=#{news.address_url}", role: 'popup' do %>
            <i class="icon-slack"></i>
          <% end %>
        </li>        
        <li>
          <%= link_to "mailto:?&subject=#{news.address_url}&body=#{news.excerpt}" do %>
            <i class="icon-email"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</li>