<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>Strategy+</title>
  
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

  <%= favicon_link_tag "apple-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57" %>
  <%= favicon_link_tag "apple-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60" %>
  <%= favicon_link_tag "apple-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72" %>
  <%= favicon_link_tag "apple-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76" %>
  <%= favicon_link_tag "apple-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114" %>
  <%= favicon_link_tag "apple-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120" %>
  <%= favicon_link_tag "apple-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144" %>
  <%= favicon_link_tag "apple-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152" %>
  <%= favicon_link_tag "apple-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180" %>
  <%= favicon_link_tag "android-icon-192x192.png", rel: "icon", type: "image/png", sizes: "192x192"  %>
  <%= favicon_link_tag "favicon-32x32.png", rel: "icon", type: "image/png", sizes: "32x32" %>
  <%= favicon_link_tag "favicon-96x96.png", rel: "icon", type: "image/png", sizes: "96x96" %>
  <%= favicon_link_tag "favicon-16x16.png", rel: "icon", type: "image/png", sizes: "16x16" %>

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <div class="overlay"></div>

  
  <div class="pagecontent">

    <!-- Header -->
    <header class="header">
      <div class="topbar">
        <div class="twocols">
          <div class="colleft">
            <ul class="list-inline list-menu">
              <li>
                <a href="#" class="btn-about">About <span>S+</span></a>
              </li>
            </ul>
          </div>
          <div class="colright">
            <ul class="list-inline list-menu">
              <li>
                <a href="http://facebook.com/getstrategyplus" target="_blank"><i class="icon-facebook"></i></a>
              </li>
              <li>
                <a href="http://instagram.com/getstrategyplus" target="_blank"><i class="icon-instagram"></i></a>
              </li>
              <li>
                <a href="http://twitter.com/getstrategyplus" target="_blank"><i class="icon-twitter"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="logobar">
        <%= image_tag "logo-strategyplus.png", alt: "Strategy+ - EU news tagline" %>
        <p class="tagline">EU news tagline</p>
      </div>
    </header>   <!-- End Header -->


    <!-- Newsletter Block -->
    <section class="block-newsletter">
      <div class="container">
        <div class="newsletter">
          <div class="twocols">
            <div class="colleft">
              <p class="intro">A curated source of geopolitical insights, right in your inbox.</p>
            </div>
            <div class="colright">
              <%= form_tag subscribe_path, method: :post, remote: true, class: 'form form-newsletter' do %>
                <div class="form-prefix">
                  <i class="icon-email picto"></i>
                    <%= text_field_tag :email, nil, placeholder: 'Subscribe to Newsletter', class: 'form-control', required: true %>
                    <%= button_tag 'Subscribe', class: 'btn-subscribe' %>
                </div>
              <% end %>
            </div>
          </div>
          <a href="#newsletter-plus" class="btn-newslettermore" data-toggle="collapse"><span class="caret-lrg"></span></a>
          <div class="collapse" id="newsletter-plus">
            <div class="newsletter-plus">
              <ul class="list-inline list-checks">
                <li>Receive a couple of insightful links every morning. </li>
                <li>Followed with a weekly editorial to catch up with everything.</li>
                <li>And a monthly analysis of the geopolitical situation to take a wider perspective.</li>
              </ul>
            </div>
          </div>
          <div class="newsletter-thankyou">
            <span class="circle"><i class="icon-checkmark"></i></span>
            <p>Thank you for subscribing. You will shortly receive confirmation email.</p>
          </div>
        </div>
      </div>

    </section>  <!-- End Newsletter Block -->

  <%= yield %>

  </div>
  <!-- About Us -->
  <section class="about">

    <a href="#" class="btn-close"><i class="icon-x"></i></a>
    
    <div class="inner">
      <div class="about-content">
        <h2>About us</h2>
          <p>Strategy+ is a free online publication about global politics available under the form of a simple email newsletter. It allows you to understand today's geopolitical trends that shape our world.</p>

          <p>Strategy+ is the brainchild of Paul Fleury, a French web entrepreneur with a background in political sciences. Our contributors include Nagy Sebbache, Simon DeGroet and Sophie Mansart.</p>

          <p>Strategy+ makes use of <a href="https://goodbits.io/" target="_blank">Goodbits</a>, <a href="https://mailchimp.com/" target="_blank">Mailchimp</a> and <a href="https://buffer.com/" target=_"blank">Buffer</a>. Paul Fleury and Gustavo Honorato, a talented Rails developer, together engineered <a href="https://github.com/getstrategyplus/strategyplus" target="_blank">an open source script</a> to combine the power of the three services and to provide an efficient newsletter publication platform.</p>

          <div class="logobox">
            <%= image_tag "logo-strategyplus-white.png", alt: "Strategy Plus" %>
          </div>
        </div>
      </div>
    </section> <!-- End About Us -->

    <!-- Footer -->
  <!--
  <footer class="footer">
    <div class="inner">
      <p class="copy">&COPY; 2016. The Three Monkeys. All Rights Reserved</p>
    </div>
  </footer> --> <!-- End Footer -->

</body>
</html>
